{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid hero-container p-5 text-center">
        <h2>Welcome fellow TV lovers</h2>
        <p>
            Fed up of scrolling for hours trying to figure out what to watch?<br />
            Use our website to look at reviews of the latest shows on popular streaming
            sites.<br />
            Register with us so you can log in and leave comments and enage with other
            TV lovers.
        </p>
    </div>
{% endblock content %}