/*Default Styling*/

html {
    height: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url('/static/images/hero_image_homepage.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.top-padding {
    padding-top: 100px;
    padding-left: 50px;
}

.image-container {
    outline-style: double;
    outline-color: blueviolet;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white;
}

.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.toast {
    overflow: visible;
}

@media screen and (max-width: 761px) {
    .top-padding {
        padding-right: 50px;
    }
}