<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="All Products">Genre</a>
            <div class="dropdown-menu border-0">
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=action">Action</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=adventure">Adventure</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=beat_em_up">Beat Em Up</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=console">Console</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=rpg">RPG</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?genre=action,adventure,beat_em_up,console,rpg">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="All Products">Platform</a>
            <div class="dropdown-menu border-0">
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=c64">C64</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=ps3">PS3</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=ps4">PS4</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=ps_vita">PS Vita</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=strategy_guide">Strategy Guide</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=xbox_360">Xbox 360</a>
                <a class="dropdown-item" href="{% url 'collectables' %}?platform=c64,ps3,ps4,ps_vita,strategy_guide,xbox_360">View All</a>
            </div>
        </li>
        <li class="nav-item">
            <div>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'reviews' %}" id="reviews-link">
                Reviews
            </a>
            </div>
        </li>
    </ul>
</div>