{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container top-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mb-4">Sell a Collectable</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <p>If you are looking to sell a collectable on our site. Please fill out the form below and we will be in touch.</p>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'sell_collectable' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mb-3">
                    <button type="submit" href="{% url 'home' %}" class="btn-black">Go Back</button>
                    <button type="submit" class="btn-black">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>

{% endblock %}